  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"><b>NgrxHelpers</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav full-width justify-content-between">
        <div class="d-md-flex d-flex-column">
        <a *ngFor="let menu of menuItems"
        [routerLink]="menu.path" routerLinkActive="active"
        class="nav-item nav-link">{{menu.name}}</a>
        </div>
       <a href="https://github.com/madhusudhand/ngrx-helpers"><img src="assets/images/github.png"/></a>
      </div>
    </div>
  </nav>